.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 40px; /* アイテム間のスペース */
}
.item {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* 写真と説明文の間にスペースを追加 */
}
.photo {
    flex: 1; /* 写真の幅を調整 */
    max-width: 300px; /* 写真の最大幅 */
}
.text {
    flex: 2; /* 説明文の幅を調整 */
    max-width: 500px; /* 説明文の最大幅 */
}
img {
    width: 100%;
    height: auto;
    display: block; /* 画像の下に余計な空白をなくす */
}
h1 {
    font-size: 1.4em; /* タイトルのサイズを調整 */
    margin-bottom: 10px; /* タイトル下のマージン */
}
p {
    font-size: 0.9em; /* 説明文のサイズを調整 */
    line-height: 1.5; /* 説明文の行間を調整 */
}

.background-filter {
    width: 100%;  /* bodyタグと同じ大きさにする */
    height: 100%;  /* bodyタグと同じ大きさにする */
    position: fixed; /* bodyタグの開始位置を基準として、位置を固定します */
    top: 0; /* bodyタグの開始位置を基準として、位置を固定します */
    left: 0; /* bodyタグの開始位置を基準として、位置を固定します */
