*, *::before, *::after {
    margin: 0; /* 外部余白のリセット */
    padding: 0; /* 内部余白のリセット */
    box-sizing: border-box; /* widthやheightなどのサイズ指定をボーダーを含んだサイズで指定できるように変更 */
  }
body {
    background-image: url("hana.jpg");  /* 背景画像設定 */
    background-size: cover; /* 背景画像のサイズを全体にフィットするように設定 */
    background-attachment: fixed; /* 背景画像をスクロールしても同じ位置になるように設定 */
    background-position: center center; /* 背景画像の配置が中央配置になるように設定 */
    
    display: grid; /* grid表示化 */
    place-items: center; /* bodyタグ直下に配置される要素を中央配置させる（grid表示化が必要） */
  
    min-height: 100vh; /* 最低高さを表示領域の100%に設定（vh:ビューハイト） */
  
    color: var(--text-color); /* ドキュメント全体の文字色を設定 varは変数を使用するときに使います */
  }

.container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 40px; /* アイテム間のスペース */
}
.item {
    display: flex;
    align-items: flex-start;
    gap: 20px; /* 写真と説明文の間にスペースを追加 */
}
.photo {
    flex: 1; /* 写真の幅を調整 */
    max-width: 300px; /* 写真の最大幅 */
}
.text {
    flex: 2; /* 説明文の幅を調整 */
    max-width: 500px; /* 説明文の最大幅 */
}
img {
    width: 100%;
    height: auto;
    display: block; /* 画像の下に余計な空白をなくす */
}
h1 {
    font-size: 1.4em; /* タイトルのサイズを調整 */
    margin-bottom: 10px; /* タイトル下のマージン */
}
p {
    font-size: 0.9em; /* 説明文のサイズを調整 */
    line-height: 1.5; /* 説明文の行間を調整 */
}

.background-filter {
    width: 100%;  /* bodyタグと同じ大きさにする */
    height: 100%;  /* bodyタグと同じ大きさにする */
    position: fixed; /* bodyタグの開始位置を基準として、位置を固定します */
    top: 0; /* bodyタグの開始位置を基準として、位置を固定します */
    left: 0; /* bodyタグの開始位置を基準として、位置を固定します */
